<header class="jumbotron">
		<div class="container">
			<div class="row row-header">
				<div class="col-xs-12 col-sm-12">
					<h1> Contact Us </h1>					
				</div>
			</div>

		</div>
</header>	

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h4> Its easy to contact us</h4>
			<h3>Ballston Children Center</h3>

			<h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span> <span> 
				3850 Wilson Blvd.  Arlington Va 22203 </span><br>
				<span class="glyphicon glyphicon-phone" aria-hidden="true"> phone:7035277200 </span> <br>
				<span class="glyphicon glyphicon-envelope" aria-hidden="true""> Email: example@bcc.com</span>
			</h4>

			<div class= "btn-group" role="group" aria-label=".."><a type="button" class="btn btn-primary" href=" tel:"7035277200"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> </span> <span> call</span></a>
			</div>
			

			<div class="btn-group" role="group" aria-label=".."><a type="button" class="btn btn-primary" href="email:example@bcc.com">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span> <span> email</span>
			</a></div>
		</div>
		

		<div class="col-xs-12 col-sm-6">
			<h3><span class="glyphicon glyphicon-globe" aria-hidden="true"> </span> <span> <img src="img/bcc-church.jpg" alt="small-church" width="400px"></span> </h3>
		</div>
	</div>
</div>
  
  <div>
  </div>