<div class="container">
	<div class="row">
	  <div class="col-md-6 col-xs-12 ">	  
			<form class="form"  role="form" id="parentInfo">
				 	<h3> Parent's information</h3>
				<div class="form-group">	
				  	<label for="name">
				  	 	<span >Parent's Name </span>
				   	 	<input class="form-group" name="parentName"/>
				    </label>
				</div>
				  
				<div class="form-group">
				    <label for="email">
				        <span>Email:</span>
				        <input class="form-group" id="email" type="email" id="email" placeholder="example@bcc.com" reuired autocomplete="email">
				    </label>
				</div>  
				<div class="form-group">
		    		<label for="address"><span>Address:</span> </label>
		    		<input type="text" class="form-group" id="parent address">
		  		</div>
				<div class="form-group">
				        <label for="tel-number">
				            <span>Telephone Number</span>
				            <input class="form-group" id="tel" type="tel" id="tel-number" placeholder="Contact Number" required autcomplete="tel">
				        </label>
				</div> 
				<!--parent form over-->
			</form>
		</div>
	</div>
</div>

<div class="container">
<div clss="row">
<div class="col-md-6 col-xs-12 ">	  
	<form class="form"  role="form" id="childinfo">
		<h3> Child's information</h3>
		 <div class="form-group">	
		  	<label for="childName" >
		  	 <span>First Name</span>
		   	 <input class="form-group" name="child'sName"/>
		   	  <label for="childLName">
		  	 <span>Last Name</span>
		   	 <input class="form-group"  name="child's LastName"/>
		    </label>
		    </label>
		</div>
		
		<div class="form-group">    
		    <label for="childBirthdate">
		  	 <span>child's date of birth</span>
		   	 <input class="form-group"  name="childBirthdate"/>
		    </label>
		 </div>

		<div class="form-group">
			<lable for="toiletTrain">
			<span> Toilet Train</span>
			<data-list>
			<input list="TT">
	  			<datalist id="TT">
	    		<option value="Yes">
	    		<option value="No">
	    	</lable>			    	    	
		</div>
				<label>
		   	 		  <button type="submit" class="btn btn-default">Submit</button>
		   	 	</label>	
	</form>
</div>
</div>
</div>


