<!DOCTYPE html>
<html lang="en-US" ng-app="preschoolApp" > <!-- information of what TYPE of document to expcet -->
	<head>	<!--information about the document-->
			<meta charset="UTF-8"><!-- Specify the character encoding for the HTML document-->
		
		<!--title for document -->
		<title>BCC</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--makes browsers render all elements more consistently and in line with modern standards-->
		<link herf="http://necolas.github.com/normalize.css/">
		<!--bootstrap and jquery-->

		<link href="C:\Users\Nayana\Documents\Angular2016\angularTry\app\minFiles\jquery.min.js">
	 	<link href="C:\Users\Nayana\Documents\Angular2016\angularTry\app\minFiles\bootstrap.min.css" rel="stylesheet">	
	 	


	</head>
	<body >
	<nav class="navbar navbar-inverse " role="navigation">
	<div id="navBar" class="container">
        <ul id="topNav"class="nav navbar-nav">
        	
        	<li id="indHtml"><a href="#/index"><span class="glyphicon glyphicon-education" aria-hidden="true"> </span> <span> Ballston Children Center </span></a></li>
            
            <li li="homeHtml"class="active"><a href="#/index"><span class="glyphicon glyphicon-home" > </span>Home</a></li>

            <li id="abtHtml"><a href="#">About</a></li>
            
            <li id="rgsHtml"><a href="">Registration/Admissions</a></li>

            <li id="roomlist"> <a href="#" > Classrooms </a></li>
				
			<li class="dropdown"><a id="extraClass" data-target="dropdown-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    			Extra Classes <span class="caret"></span></a>
    			<ul class="dropdown-menu" aria-labelledby="extraClass">
    				<li><a href="#">Ballet</a></li>
    				<li><a href="#">Spanish</a> </li>
			    	<li><a href="#">Piano </a> </li>
			    	<li><a href="#">Performing art</a></li>
			    	<li><a href="#">Yoga</a></li>
			    </ul>
    		</li>
			<li><a href>Contact/Location</a></li>     
		</ul>
    </div>
</nav>  


<div ng-view></div>



<footer>
<div class="container">
	<div class="row row-footer">
		<div class="col-sm-2">
			<h5>Links</h5>
			<ul class="list-unstyled">
				<li><a herf="#">Ballston Children Center</a></li>
	            <li class="active"><a href="#">Home</a></li>
	            <li><a href="#">About</a></li>
	            <li><a href="#">Registration/Admissions</a></li>
	            <li><a href="#">Contact</a></li>
	            <li><a href="#">Loction/Direction</a></li>
	        </ul>
		</div>
		<script src= "C:\Users\Nayana\Documents\Angular2016\angularTry\app\js\angular.min.js"></script>

		<script src="C:\Users\Nayana\Documents\Angular2016\angularTry\app\minFiles\jquery.min.js"></script>
		
		<script src="C:\Users\Nayana\Documents\Angular2016\angularTry\app\minFiles\bootstarp.js"></script>
		<script src ="C:\Users\Nayana\Documents\Angular2016\angularTry\app\js\angular-route.min.js"></script>
		<script src="C:\Users\Nayana\Documents\Angular2016\angularTry\app\js\appModule.js"></script>
		<script src="C:\Users\Nayana\Documents\Angular2016\angularTry\app\controllers\preschoolController.js"></script>
		
		
	</body>
</html>